@page "/producers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using ItemInsight.Shared.Domain;

<h3 class="card-title">Create New Producer</h3>
<hr />
<br />

<EditForm Model="@producer" OnValidSubmit="CreateProducer">
    <DataAnnotationsValidator />
    <ValidationSummary />

<div class="form-group">
    <label>Name: </label>
    <div>
        <InputText @bind-Value="@producer.Name" class="form-control"/>
        <ValidationMessage For="@(() => producer.Name)"/>
    </div>
</div>

<div class="form-group">
    <label>CompanyName:</label>
    <div>
        <InputText @bind-Value="@producer.CompanyName" class="form-control"/>
        <ValidationMessage For="@(() => producer.CompanyName)"/>
    </div>
</div>

<div class="form-group">
    <label>ContactNo:</label>
    <div>
        <InputText @bind-Value="@producer.ContactNo" class="form-control"/>
        <ValidationMessage For="@(() => producer.ContactNo)"/>
    </div>
</div>

<div class="form-group">
    <label>Email:</label>
    <div>
        <InputText @bind-Value="@producer.Email" class="form-control"/>
        <ValidationMessage For="@(() => producer.Email)"/>
    </div>
</div>

<button type="submit" class="btn btn-success btn-block">
    Create Producer
</button>
</EditForm>

@code {
    Producer producer = new Producer();

    private async Task CreateProducer()
    {
        await _client.PostAsJsonAsync(Endpoints.ProducersEndpoint, producer);
        _navManager.NavigateTo("/producers/");
    }
}