@page "/producers/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using ItemInsight.Shared.Domain;

<h3 class="card-title">ItemInsight Producer</h3>
<a href="/producers/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    create new producer
</a>
<br/>
<br/>

@code {
    private List<Producer>? Producers;

    protected async override Task OnInitializedAsync()
    {
        Producers = await _client.GetFromJsonAsync<List<Producer>>($"{Endpoints.ProducersEndpoint}");
    }

    async Task Delete(int producerId)
    {
        if(Producers != null)
        {
            var producer = Producers.First(q => q.Id == producerId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {producer.Name}?");
            if(confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ProducersEndpoint}/{producerId}");
                await OnInitializedAsync();
            }
        }
    }
}
@if (Producers == null)
{
    <div class="alert alert-info">Loading Producers...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>ContactNo</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producer in Producers)
            {
                <tr>
                    <td>@producer.Name</td>
                    <td>@producer.ContactNo</td>
                    <td>@producer.Email</td>
                    <td>@producer.Password</td>
                    <td>
                        <a href="/producers/view/@producer.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/producers/edit/@producer.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(producer.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
